.header {
  display: flex;
  justify-content: center;
}
nav > h1 {
  font-size: 34px;
  border-bottom: 2px solid #fff;
}
.layout {
  background: rgba(62, 79, 238, 0.274);
}

.form-control {
  display: flex;
  flex-direction: column;

  background: transparent;
}

.row-container {
  background: rgba(15, 36, 221, 0.274);
}

.form-control {
  max-width: 100px;
  align-self: center;
}

.currency-input {
  max-width: 100px;
}
